/* ================================
   Contact Section Styles
================================ */
.breadcrumb-section {
  margin-top: 100px; /* contact page ma thodu ochu spacing */
  background: #ffffff; /* blue background */
}

.breadcrumb-section h1 {
  margin: 0;
  font-size: 30px;       /* heading thodi moti */
  font-weight: 700;
color: #002b5c;
}

.breadcrumb {
  margin-top: 8px;
  font-size: 14px;
}

.breadcrumb a {
  color: #002b5c;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  margin: 0 6px;
  color: #002b5c;
}

.contact-section {
  padding: 30px 20px 30px;
  background: linear-gradient(135deg, #f8fbff, #eef5ff);
  text-align: center;
}

.section-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #002b5c;
  margin-bottom: 10px;
}

.section-subtitle {
  font-size: 1rem;
  color: #002b5c;
  margin-bottom: 30px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.contact-card {
  background: #fff;
  border-radius: 16px;
  padding: 35px 25px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

.contact-card .icon {
  margin-bottom: 5px;
}

.contact-card .icon img {
  width: 70px;   /* 🔹 icon size moto */
  height: 70px;
  object-fit: contain;
}

.contact-card .office-icon img {
  width: 100px;   /* 🔹 Office icon vadu moto */
  height: 100px;
}

.contact-card h2 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #002b5c;
  margin-bottom: 6px;   /* title niche gap pan ochhu */
}

.contact-card h3 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #002b5c;
  margin-bottom: 8px;   /* title niche gap pan ochhu */
}

.contact-card h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #002b5c;
  margin-bottom: 6px;   /* title niche gap pan ochhu */
}

.contact-card h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #002b5c;
  margin-bottom: 6px;   /* title niche gap pan ochhu */
}

.contact-card p {
  font-size: 18px;
  color: #002b5c;
  line-height: 1.6;
}
